version: '2'

services:

    db:
        image: mysql
        environment:
                MYSQL_ROOT_PASSWORD: admin
        ports:
            - 3306:3306
    adminer:
        image: adminer
        ports:
            - 8080:8080
