body {
    padding-top:70px;
}

.btn-new, .btn-salvar {
    margin-bottom: 10px;
}

.container {
    #background: rgba(125,125,125,0.4);
    border-radius: 4px;
    margin: auto;
    width: 80%;
}

.little-container {
    width: 40%;
}